<% breadcrumb :about %>
<div class="about">
    <div class="main-imag">
        <%= image_tag "/images/DSC03704.jpg",class: "about-message-image"%>
        <p class="title_qualification">◇取得資格◇</P>
        <ul class="qualification">
            <li class ="about-qualification">AEAJアロマテラピーインストラクター</li>
            <li class ="about-qualification">香りの学院グラース卒業</li>
            <li class ="about-qualification">キャメスカウンセラー</li>
            <li class ="about-qualification">キャメスマスターカウンセラー</li>
        </ul>

    </div>



    <div class="about-message">

        <p class="self_main">
            全ての答えはあなたが持っている<br>
        </P>

        <p class="about-message-contens">
            こんにちは！！色と香りを使ってあなただけの答えを発掘する<br>
            <span class="span-name">カウンセラー＆調香師のちひろ</span>
            と申します♡<br>
            簡単にはなりますが、、、どんな想いを持って活動をしているのか？<br>
            ご紹介させていただきま～す♪<br>
        </P>

        <P class="self_introduction">
            <span class="span_main">【人生を楽しく幸せに過ごすこと】</span><br>
            これって、誰もが望んでいることですよね<br>
            じゃあ幸せってなんだろう？楽しいってどんな時？<br>    
            これって、、、、<span class="span_coment">一人一人違うんです(°ロ°)</span><br>
            あなたがこの世で体験したいこと。<br>
            この世でやりたいこと。叶えたい事。<br>
            どんな事が好きで、何を見て心を痛めるか？<br>
            <span class="span_coment">全て一人一人違います。</span><br>
            「自分にとっての幸せ」を知らないまま<br>
            幸せになろうとすることは、、、<br>
            ゴールの場所がわからないまま<br>
            ただがむしゃらに進んでいくことと<br>
            同じだと思うのです<br>
            幸せになる前に！！！！楽しい人生にする前に！<br>
            <span class="span_coment">「自分にとって」を知ることが大事なんです</span><br>
            自分をもっと知ってもっと仲良くなることが大切なんです<br>
        </P>

        <p class="self_main">
            全ての答えはあなたが持っている<br>
            あなたの中にちゃんと答えがあるんです<br>
        </P>
 
        <P class="self_contens">
            でもなかなか自分で辿りつくのは難しいもの、、<br>
            だからこそ！あなたの中を掘って掘って<br>
            掘りまくって（笑）あなただけが持っている答えを<br>
            <span class="span_coment">見つけ出すサポーターが必要！</span>それが
            <span class="span-name">わ・た・し♡</span>
            です<br>
        </p>
 
        <P class="self_conclusion">
            <span class="span_main">【自分だけの答えを見つけたい時に！】</span><br>
           <span class="span_coment"> 頼れるあなたのサポーターになりたいなと思っています(´▽`ʃ♡ƪ)</span><br>
            よろしくお願いいたします！<br>
        </p>
    </div>
</div>
