<% breadcrumb :about %>
<div class="about">

    <div class="main-img">
        <%= image_tag "/images/DSC03704.jpg",class: "about-message-image"%>
        <%= image_tag "/images/DSC03733.jpg",class: "about-message-image"%>
     
    </div>



    <div class="about-message">

        <p class="self_main">
            全ての答えはあなたが持っている
        </P>

        <p class="about-message-contens">
            こんにちは！！<br>
            色と香りを使って、心の声を明確にする<br>
            <span class="span-name">カウンセラー＆調香師</span>の<span class="span-name">ちひろ</span>
            と申します♡<br>
            <p class="bottom_space">簡単にはなりますが、、、</p>
            どんな想いを持って活動をしているのか？<br>
            ご紹介させていただきま～す♪<br>
        </P>

        <P class="self_introduction">
            <h1 class="span_main">【人生を楽しく幸せに過ごすこと】</h1>
            これって、誰もが望んでいることですよね<br>
            じゃあ幸せってなんだろう？<br>楽しいってどんな時？<br>    
            これって、、、、<span class="span_coment">一人一人違うんです(°ロ°)</span><br>
            
            <p class="bottom_space">あなたがこの世で体験したいこと。</p>
            この世でやりたいこと。叶えたい事。<br>
            どんな事が好きで、何を見て心を痛めるか？<br>
            <span class="span_coment">全て一人一人違います。</span><br>
            <p class="bottom_space">「自分にとっての幸せ」を知らないまま</p>
            幸せになろうとすることは、、、<br>
            ゴールの場所がわからないまま<br>
            ただがむしゃらに進んでいくことと<br>
            同じだと思うのです<br>
            <p class="bottom_space">幸せになる前に！！！！楽しい人生にする前に！</p>
            <span class="span_coment">「自分にとって」を知ることが大事なんです</span><br>
            自分をもっと知ってもっと仲良くなる<br>ことが大切なんです<br>
        </P>

        <p class="self_main">
            全ての答えはあなたが持っている<br>
            あなたの中に答えがあるんです!<br>
        </P>
 
        <P class="self_contens">
            でもなかなか自分で辿りつくのは難しいもの、、<br>
            だからこそ！あなたの中を掘って掘って<br>
            掘りまくって（笑）あなただけが<br>持っている答えを<br>
            <span class="span_coment">見つけ出すサポーターが必要！</span>
            <br>それが
            <span class="span-name">わ・た・し♡</span>
            です<br>
        </p>
 
        <P class="self_conclusion">
            <span class="span_main">【自分だけの答えを明確にしたい時】</span><br>
            <span class="span_coment"> 頼れるあなたのサポーターに
            <span class="span-name">わ・た・し♡</span>が<br>
            なりたいなと思っています(´▽`ʃ♡ƪ)</span><br>
            よろしくお願いいたします！<br>
        </p>
    

        <p class="title_qualification">◇取得資格◇</P>
            <ul class="qualification">
                <li class ="about-qualification">AEAJアロマテラピーインストラクター</li>
                <li class ="about-qualification">香りの学院グラース卒業</li>
                <li class ="about-qualification">キャメスカウンセラー</li>
                <li class ="about-qualification">キャメスマスターカウンセラー</li>
            </ul>
    </div>
</div>