<% breadcrumb :about %>

<div class="main-imag">
 <%= image_tag "/images/DSC03704.jpg",class: "about-message-image"%>
</div>



<div class="about-message">
 <p class="about-message-contens">
  ************************************************<br>
  ************************************************<br>
  ************************************************<br>
  ************************************************<br>
 </p>

</div>