<section class="main-message">
   <div class="message">
     <div class="main-imag">
      <%= image_tag "/images/213653.png",class: "main-message-image"%>
    </div>
    <div class="message-main">
      <P class="message-main-nav">感性を研ぎ澄まし</P>
      <h2 class="message-main-title">心の声を聞く時間をあなたに</h2>
    </div>
</section>

<script>
window.onload = function () {
  // メディアクエリの条件を関数にまとめる
  function applyMediaQuery() {
    // 画面幅が768px以上の場合のみ処理を実行
    if (window.matchMedia("(min-width: 768px)").matches) {
      fade_effect();
    }
    // 画面幅が480px以下の場合でも処理を実行
    else if (window.matchMedia("(max-width: 480px)").matches) {
      fade_effect();
    }
  }

  // 初回実行
  applyMediaQuery();

  // スクロールイベント時にもメディアクエリの処理を実行
  $(window).scroll(function () {
    applyMediaQuery();
  });

  function fade_effect() {
    $('.service-nav').each(function () {
      const targetElement = $(this).offset().top;
      const scroll = $(window).scrollTop();
      const windowHeight = $(window).height();

      // 画面内に要素が入ったらクラスを追加
      if (scroll > targetElement - windowHeight && scroll < targetElement + $(this).outerHeight()) {
        $(this).addClass('view');
      } else {
        $(this).removeClass('view');
      }
    });
  }

  // 前回のページ遷移情報を取得
  const lastPage = localStorage.getItem('lastPage');

  // INDEXページに戻ってきた場合にリロードする
  if (window.location.pathname === '/INDEX.html' && lastPage !== '/INDEX.html') {
    // ページ遷移情報を更新
    localStorage.setItem('lastPage', '/INDEX.html');

    // ページをリロード
    location.reload();
  }
};

</script>

<section class="service">
  <h2 class = "service-title">
    <%= link_to "MENU",service_saikas_path,class: "service_path" %>
    <p class="product-click">menu内容は<br>こちらをクリック</p>
  </h2>
   
  <div class="service-container">
    <div class="service-nav">
      <img src="/images/213607.png" class="service-img" alt="">
      <p class="service-comment">
      調香師＆心のメンテナンス<br>カウンセラーのちひろと申します
       </p>
    </div>
    <div class="service-nav">
      <img src="/images/DSC03743.jpg" class="service-kyames" alt="">
      <p class="service-comment">
      12色のカラーを使ってあなたの心のメッセージを<br>分かりやすくお伝えするカウンセリング     </p>
    </div>
    <div class="service-nav">
      <img src="/images/DSC03732.jpg" class="service-kyames" alt="">
      <p class="service-comment">
      カウンセリングから導き出したアロマで<br>あなたオリジナルの香りが作れます       </p>
    </div>
  </div>

</section>