<section class="main-message">
   <div class="message">
     <div class="main-imag">
      <%= image_tag "/images/114993.jpg",class: "main-message-image"%>
    </div>
    <div class="message-main">
      <P class="message-main-nav">感性を研ぎ澄まし</P>
      <h2 class="message-main-title">心の声を聞く時間をあなたに</h2>
    </div>
</section>

<script>
// ページ読み込み時に実行される関数
window.onload = function () {
  // メディアクエリの条件を関数にまとめる
  function applyMediaQuery() {
    // 画面幅が768px以上の場合のみ処理を実行
    if (window.matchMedia("(min-width: 768px)").matches) {
      fade_effect();
    }
    // 画面幅が480px以下の場合でも処理を実行
    else if (window.matchMedia("(max-width: 480px)").matches) {
      fade_effect();
    }
  }

  // 初回実行
  applyMediaQuery();

  // スクロールイベント時にもメディアクエリの処理を実行
  $(window).scroll(function () {
    applyMediaQuery();
  });

  function fade_effect() {
    $('.service-nav').each(function () {
      const targetElement = $(this).offset().top;
      const scroll = $(window).scrollTop();
      const windowHeight = $(window).height();

      // 画面内に要素が入ったらクラスを追加
      if (scroll > targetElement - windowHeight && scroll < targetElement + $(this).outerHeight()) {
        $(this).addClass('view');
      } else {
        $(this).removeClass('view');
      }
    });
  }
};
</script>

<section class="service">
  <h2 class = "service-title">
    <%= link_to "service",service_saikas_path %>
  </h2>
    <p class="service-content">
        ブレない究極の自分軸が手に入る（輝き革命）をあなたに
    </p>
  <div class="service-container">
    <div class="service-nav">
      <img src="/images/114992.jpg" class="service-img" alt="">
      <p class="service-comment">
      調香師＆心のメンテナンス<br>カウンセラーのちひろと申します
       </p>
    </div>
    <div class="service-nav">
      <img src="/images/115221.jpg" class="service-kyames" alt="">
      <p class="service-comment">
      12色のカラーを使ってあなたの心からのメッセージを<br>分かりやすくお伝えしていくカウンセリング
       </p>
    </div>
    <div class="service-nav">
      <img src="/images/115003.jpg" class="service-kyames" alt="">
      <p class="service-comment">
      カウンセリングから導き出したアロマで<br>あなたオリジナルの香りが作れます       </p>
    </div>
  </div>

</section>