<% breadcrumb :service %>

<div class="product" style="background-image: url('/images/white-concrete-wall.jpg');">
    <P class="product-title">CAMES</p>
    <p class="product-menu">カウンセリングメニュー</p>

   <nav>
        <div class="menu-contents">
            <div class="menu-image">
                <img src="/images/121734.png" class="service-kyames" alt="">
                <ul class="menu-nav">
                    <li class="menu-nav-name">自分のギフトに気づく<br>セッション</li>
                    <li class="menu-nav-contents">
                    個性診断シートを使いながら<br>あなたが持って生まれた４つのギフト(個性)を<br>わかりやすくお伝えします。
                    <br>自分生かしていきたい！と思っている<br>そんなあなたにおすすめです。<br>
                    </li>
                    <ul class="service-list-nav">
                      <P class="menu-list-contents">
                    【こんな方におすすめ】</p>
                    <li class="menu-nav-content">自分の強みを知りたい</li>
                    <li class="menu-nav-content">自分で占いを見てもよくわからない</li>
                    <li class="menu-nav-content">個性を現実で生かしていきたい</li>
                    <li class="menu-nav-content">そろそろ自分らしく生きていきたい<li>
                    </li>
                    <li class="menu-nav-time_price">
                    【価格】<br>
                      時間 60分<br>
                      料金 ￥6,600(税込)<br>
                      特典 診断シート(4枚)
                    </li>
                 
                </ul>
            </div>
            <div class="menu-image">
                <img src="/images/121625.png" class="service-kyames" alt="">
                <ul class="menu-nav">
                    <li class="menu-nav-name">心の声を明確にする<br>カウンセリング</li>
                    <li class="menu-nav-contents">
                    あなたの今の心の模様を<br>１２色のカラーへと映し出し<br>心の奥底にある「本当の想い」を
                    <br><br>ひろいあげ、<br>ひもとき、<br>明確にしていく<br><br>そんなカウンセリングです。<br>
                    最後にあなたをサポートしてくれる<br>色と香りもお伝えいたします
                    </li>
                    <ul class="service-list-nav">
                      <P class="menu-list-contents">
                      【こんな方におすすめ】</P>
                      <li class="menu-nav-content"> 決断したいことがある</li>
                      <li class="menu-nav-content">迷っていることがある</li>
                      <li class="menu-nav-content">方向性をはっきりさせたい</li>
                      <li class="menu-nav-content">他人の意見ではなく自分がどうしたいのか?<br>
                      はっきりさせたい</li>
                    </ul>
                    <li class="menu-nav-time_price">
                    【価格】<br>
                      時間 90分<br>
                      料金 ￥11,000(税込)
                    </li>
                </ul>
            </div>
            <div class="menu-image">
                <img src="/images/121514.png" class="service-img" alt="">
                <ul class="menu-nav">
                    <li class="menu-nav-name">心の声を現実に生かす<br>カウンセリング＆ワークショップ</li>
                    <li class="menu-nav-contents">
                    「心の声をきくカウンセリング」に<br>明日からできる具体的な行動を<br>
                    サポートしていくワークをプラスした<br>カウンセリング＆ワークショップです
                    </li>
                    <ul class="service-list-nav">
                      <P class="menu-list-contents">
                      【こんな方におすすめ】</p>
                    <li class="menu-nav-content">現実でしっかり行動したい</li>
                    <li class="menu-nav-content">行動できないことが多い</li>
                    <li class="menu-nav-content">自分で決めることが苦手</li>
                    <li class="menu-nav-content">現実を変えたいと思っているあなた</li>
                    </ul>
                     <li class="menu-nav-time_price">
                    【価格】<br>
                      時間 120分<br>
                      料金 ￥16,500(税込)<br>
                      特典 オリジナルワークシート付
                    </li>
                </ul>
            </div>
              <div class="menu-image">
                <img src="/images/121823.png" class="service-kyames" alt="">
                <ul class="menu-nav">
                    <li class="menu-nav-name">サポートアロマスプレー<br>ワークショップ（対面のみ）
                    </li>
                    <li class="menu-nav-contents">
                    カウンセリングで導き出された<br>あなたをサポートしてくれる<br>
                    アロマを使って、調香師と一緒に<br>世界に一つだけのアロマスプレー<br>
                    創りを体験できます<br>
                    </li>
                    <li class="menu-nav-time_price">
                    【価格】<br>
                      時間 20分<br>
                      料金 ￥2,200(税込)
                    </li>
                </ul>
            </div>

            <div class="product-reservation">
                <%= link_to"ご予約はこちらから" ,reservations_path %>
            </div>


        </div>


   </nav>

</div>