<% breadcrumb :service %>

<div class="product" style="background-image: url('/images/white-concrete-wall.jpg');">
    <P class="product-title">CAMES</p>
    <p class="product-menu">カウンセリングメニュー</p>

   <nav>
        <div class="menu-contents">
            <div class="menu-image">
                <img src="/images/121734.png" class="service-kyames" alt="">
                <ul class="menu-nav">
                    <li class="menu-nav-name">自分のギフトに気づく<br>カウンセリング</li>
                    <li class="menu-nav-contents">
                    個性診断シートを使いながら<br>あなたが持って生まれた４つのギフト(個性)を<br>わかりやすくお伝えします。
                    <br>自分生かしていきたい！と思っている<br>そんなあなたにおすすめです。<br>
                    </li>
                    <li class="menu-nav-contents">
                    【こんな方におすすめ】<br>
                    ✔自分の強みを知りたい<br>
                    ✔自分で占いを見てもよくわからない<br>
                    ✔個性を現実で生かしていきたい<br>
                    ✔そろそろ自分らしく生きていきたい<br>
                    </li>
                    <li class="menu-nav-time_price">
                    【価格】<br>
                      時間 60分<br>
                      料金 ￥6,600(税込)
                    </li>
                 
                </ul>
            </div>
            <div class="menu-image">
                <img src="/images/121625.png" class="service-kyames" alt="">
                <ul class="menu-nav">
                    <li class="menu-nav-name">心の声を明確にする<br>カウンセリング</li>
                    <li class="menu-nav-contents">
                    あなたの今の心の模様を<br>１２色のカラーへと映し出し<br>心の奥底にある「本当の想い」を
                    <br>ひろいあげ、ひもとき、明確にしていく<br>そんなカウンセリングです。<br>
                    最後にあなたをサポートしてくれる<br>色と香りもお伝えいたします
                    </li>
                    <li class="menu-nav-contents">
                    【こんな方におすすめ】<br>
                    ✔決断したいことがある<br>
                    ✔迷っていることがある<br>
                    ✔方向性をはっきりさせたい<br>
                    ✔他人の意見ではな自分がどうしたいのか<br>
                      はっきりさせたい
                    </li>
                    <li class="menu-nav-time_price">
                    【価格】<br>
                      時間 90分<br>
                      料金 ￥11,000(税込)
                    </li>
                </ul>
            </div>
            <div class="menu-image">
                <img src="/images/121514.png" class="service-img" alt="">
                <ul class="menu-nav">
                    <li class="menu-nav-name">心の声を現実に生かす<br>カウンセリング＆ワークショップ</li>
                    <li class="menu-nav-contents">
                    「心の声をきくカウンセリング」に<br>明日からできる具体的な行動を<br>
                    サポートしていくワークをプラスした<br>カウンセリング＆ワークショップです
                    </li>
                    <li class="menu-nav-contents">
                    【こんな方におすすめ】<br>
                    ✔現実でしっかり行動したい<br>
                    ✔行動できないことが多い<br>
                    ✔自分で決めることが苦手<br>
                    ✔現実を変えたいと思っているあなた<br>
                    </li>
                     <li class="menu-nav-time_price">
                    【価格】<br>
                      時間 120分<br>
                      料金 ￥16,500(税込)<br>
                      特典 オリジナルワークシート付
                    </li>
                </ul>
            </div>
              <div class="menu-image">
                <img src="/images/121823.png" class="service-kyames" alt="">
                <ul class="menu-nav">
                    <li class="menu-nav-name">サポートアロマスプレー<br>ワークショップ（対面のみ）
                    </li>
                    <li class="menu-nav-contents">
                    カウンセリングで導き出された<br>あなたをサポートしてくれる<br>
                    アロマを使って、調香師と一緒に<br>世界に一つだけのアロマスプレー<br>
                    創りを体験できます<br>
                    </li>
                    <li class="menu-nav-time_price">
                    【価格】<br>
                      時間 20分<br>
                      料金 ￥2,200(税込)
                    </li>
                </ul>
            </div>

            <div class="product-reservation">
                <%= link_to"ご予約はこちらから" ,reservations_path %>
            </div>


        </div>


   </nav>

</div>