<% breadcrumb :service %>

<div class="product" style="background-image: url('/images/346776.jpg');">
    <P class="product-title">CAMES</p>
    <p class="product-menu">カウンセリングメニュー</p>

   <nav>
        <div class="menu-contents">
            <div class="menu-image">
                <img src="/images/115221.jpg" class="service-kyames" alt="">
                <ul class="menu-nav">
                    <li class="menu-nav-name">個性カウンセリング</li>
                    <li class="menu-nav-contents">
                    12色のカラーを使って<br>あなたの心からのメッセージを<br>分かりやすくお伝えしていく<br>カウンセリング
                    </li>
                    <li class="menu-nav-time">時間 30分</li>
                    <li class="menu-nav-price">価格 ￥3,300</li>
                </ul>
            </div>
            <div class="menu-image">
                <img src="/images/114993.jpg" class="service-kyames" alt="">
                <ul class="menu-nav">
                    <li class="menu-nav-name">心のメンテナンス<br>カウンセリング</li>
                    <li class="menu-nav-contents">
                        12色のカラーを使って<br>あなたの心からのメッセージを<br>分かりやすくお伝えしていく<br>カウンセリング
                    </li>
                    <li class="menu-nav-time">時間 60分</li>
                    <li class="menu-nav-price">価格 ￥7,700</li>
                </ul>
            </div>
            <div class="menu-image">
                <img src="/images/114992.jpg" class="service-kyames" alt="">
                <ul class="menu-nav">
                    <li class="menu-nav-name">個性＆心 フルコース<br>カウンセリング</li>
                    <li class="menu-nav-contents">
                    12色のカラーを使って<br>あなたの心からのメッセージを<br>
                    分かりやすくお伝えしていく<br>カウンセリングにプラスして
                    <br>オリジナルの香りも作れます。
                    </li>
                    <li class="menu-nav-time">時間 90分</li>
                    <li class="menu-nav-price">価格 ￥11,000</li>
                </ul>
            </div>

            <div class="product-reservation">
                <%= link_to"ご予約はこちらから" ,reservations_path %>
            </div>


        </div>


   </nav>

</div>