<% breadcrumb :reservation %>

<div class="reservation">
    <div class="reservation-nav">
        <h1 class="reservation-title">予約画面</h1>
        <p class="reservation-contents">1ヵ月先まで予約がとれます。</p>
    </div>

    <div class="calendar">
        <%= week_calendar events: @reservations do |date, reservations| %>
            <%= date.day %>
        <% end %>
    </div>

      <div class="retrun">
        <%= link_to"戻る" ,saikas_path %>
      </div>

    
</div>