<div class="reservation">
  <h1 class="reservation-title">予約一覧</h1>

  <% @reservations.each do |reservation| %>
    <ul class="reservations-list">
      <li class="reservations-daytime"><%= reservation.day %></li>
      <li class="reservations-daytime"><%= reservation.time %></li>
      <% if reservation.day <= 2.days.from_now.to_date %>
        <li class="reservations-list-nav">予約の修正・キャンセルはお電話にて承ります。<br>電話番号:09012345678</li>
      <% else %>
        <li class="reservations-list-nav"><%= button_to "修正", edit_reservation_path(reservation), method: :get %></li>
        <li class="reservations-list-nav">
          <%= button_to "削除", reservation_path(reservation), method: :delete, class: "btn btn-reservation" %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
