<dl class="confirm_list">
	<dt class="confirm_nav">【名前】
    <span class="confirm_fixed"><%= @contact.name %></span>
    </dt>
    <dt class="confirm_nav">【メールアドレス】
    <span class="confirm_fixed"><%= @contact.email %></span>
    </dt>
	<dt class="confirm_nav">【電話番号】
    <span class="confirm_fixed"><%= @contact.phone_number %></span>
    </dt>
    <dt class="confirm_nav">【お問い合わせ内容】
    <div class="confirm-message">
     <span class="confirm_fixed"><%= @contact.message %></span>
    </div>
    </dt>
	
  </dl>