<div class="reservation">
    <h1 class="reservation-title">お問い合わせ<br>ありがとうございました</h1>
    <p class="contact-coment">
    ただいま、お客様のお問い合わせ内容に関する詳細な回答を準備中です。<br>
    SAIKAさんより丁寧にご対応させていただきますので、<br>
    もうしばらくお待ちいただけますようお願い申し上げます。
    </p>

    <%= render partial: "confirm", locals: { contact: @contact} %>

<div class="retrun">
  <%= link_to "戻る", saikas_path, id: "return-link" %>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const returnLink = document.getElementById("return-link");
  if (returnLink) {
    returnLink.addEventListener("click", function(event) {
      // デフォルトのクリック動作をキャンセル
      event.preventDefault();

      // saikas_pathにリダイレクト
      window.location.href = "<%= saikas_path %>";
    });
  }
});
</script>

  
</div>