.about{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* 画像 */
.main-img{
    width: 50%;  
}

.about-message-image{
    object-fit: cover;
    height: 600px;
    width: 500px;
    border-radius: 5%;
    animation-name: fade;
    animation-duration: 2s;
    margin-top: 30px;
  
}

@keyframes fade{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  /* 内容部分全体 */
.about-message,.bottom_space{
    text-align: left;
    font-size: 15px;
    line-height: 25px;
    color: gray;
}

.self_main,.self_introduction,.self_answer,.self_contens,.self_conclusion{
  margin: 20px 0px;
  font-size: 15px;
  line-height: 25px;
}
/* 内容部分 */
.self_main{
  font-size: 30px;
  font-weight: bold;
  color:#4169E1;
  margin-top: 20px;
  line-height: 35px;
  /* text-shadow: 5px 5px 3px gray; */
}

.span-name{
  font-weight: bold;
  color: 	#FF69A3;
}

.span_main{
  font-weight: bold;
  font-size: 20px;
}

.span_coment{
  font-weight: bold;
  color: red;
}
/* 資格部分 */
.title_qualification{
  margin: 40px 0px 10px ;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
}
.qualification{
    list-style-image:url("images/090716.png");
    text-align: left;
    font-size: 15px;
    margin-left: 20px;
    line-height: 40px;
}

.bottom_space {
  margin-top: 10px;
}
/* メディアクエリ: 480px以下の場合のスタイル */
@media screen and (max-width: 480px) {
  .about {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  .about-message{
    margin: 0 10px;
  }

  .main-img{
    width: 100%;
}
  .about-message-image {
    max-height: 300px;
    max-width: 92%;
    margin: 0px;
    font-size: 14px;
    margin-top: 20px;
  }

  .qualification {
    margin-left: 0;
  }

  .self_main{
    font-size: 22px;
    text-align: center;
  }
  .title_qualification{
    font-size: 20px;
    margin-top: 10px;
  }

  .qualification{
    margin-left: 50px;
}

}
