// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// ご予約画面
.reservation{
    text-align: center;
}

.reservation-nav{
    margin-bottom: 20px;
}

.reservation-title{
    font-size: 50px;
    margin: 20px 0;
}

.calendar-title{
    font-weight: bold;
}

.calendar-heading{
    text-align: left;
    margin: 10px 0 10px 110px;
}

table.table.table-striped {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    table-layout: fixed;
    background-color: aliceblue;
  }
  
  table.table.table-striped thead th,
  table.table.table-striped tbody td {
    // セルを均等に8分割へ分割
    width: calc(100% / 8);
    height: 30px; 
    text-align: center;
    vertical-align: middle;
  }
  
  table.table.table-striped .dayno {
    line-height: 30px; 
  }

  table.table.table-striped tbody tr:nth-child(even) {
    background-color: #f5f5f5;
  }

  // 新規予約入力画面
  .nav{
    width: 300px;
    margin: 10px auto;
    text-align: left;
 
  }


  .required-label{
    vertical-align: middle;
    margin-left: 5px;
    font-size: 8px;
    background-color: red;
    color: #f5f5f5;
    border-radius:2px;
  }

  .form-control ,#reservation_category{
    // margin-right: 25%;
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: inset;
    background-color: aliceblue;
  }

  .reverces{
    margin-top: 30px;
  }

  // 予約確認画面
  .confirm_list {
    width: 600px;
    text-align: left;
    margin: 30px 400px;
  }

  .confirm_nav{
    margin: 10px 0;
  }

  .confirm_submit{
    margin: 30pxn auto;
  }

  // 送信ボタン部分
  input[type="submit"]{
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 18pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : #000066;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
    border        : 2px solid #000066;    /* 枠の指定 */
    margin-top: 20px;
  }

  input[type="submit"]:hover{
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #000066;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
  }

  .error-messages{
    width: 300px;
    text-align: left;
    margin: 20px auto;
    color: red;
    font-weight: bold;
  }

  ul{
    padding-left:0;
  }
  
  .error{
    list-style:none;
    margin: 10px;
  }

  .edit{
    margin-top: 30px;
  }

  // 予約一覧
  .reservations-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 20px auto;
    width: 800px;
    padding-left: 120px;
  }

  .reservations-daytime {
    margin: 30px 20px 0 ;
    font-size: 20px;
  }

  .reservations-list-nav{
     margin-left: 50px;
  }

  // キャンセル時の表記
  /* 成功メッセージ */
.flash {
  background-color: #c8e6c9;
  color: #2e7d32;
  padding: 10px;
  margin: 100px;
  height: 30px;
  font-size: 30px;
  text-align: center;
  border-radius: 5px;
}

// 予約修正時
.reservations-list-nav{
  font-size: 14px;
  text-align: left;
  line-height: 30px;
}
 
@media (max-width: 480px) {
  .confirm_list{
    margin: 30px 100px;
  }

  .reservation-title{
    font-size: 30px;
  }

  .product-reservation{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  .reservations-list{
    display: block;
    font-size: 20px;
    width: 300px;
    padding-left: 100px;
  }

  .reservations-daytime{
    margin: 30px 0;
    text-align: center;
    width: 200px;
  }

  .reservations-list-coments{
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 10px;
    padding-right: 90px;
  }
}