.product{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 100px auto 0;
}

.product-title{
    text-align: center;
    font-size: 50px;
    color: #008800;
    font-weight: bold;
    margin-top: 10px;
}

.product-menu{
    text-align: center;
    color: #008800;
    margin:10px 0 20px;
}

.menu-image{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-nav{
    padding-top: 50px;
    margin-left: 50px;
}

.menu-nav-name,.menu-nav-contents,.menu-nav-time,.menu-nav-price{
    margin-bottom: 10px;
}

.menu-nav-name{
    font-size: 24px;
    color: #008800;
    font-weight: bolds;
    line-height: 36px;
}
.menu-nav-contents{
    font-size: 16px;
    color: #008800;
    line-height: 20px;
}

.menu-nav-time,.menu-nav-price{
    color: #555555;
}